

.fc-emscard{
    background-image: url('../../../../../public/assets/images/Group 9648@2x.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 290px;
    height: 290px;
}
.slider::-webkit-scrollbar{
    display: none;
}