@import "../../App.scss";

.fc-text-inp-container{
    letter-spacing: 0px;
    color: $primary-text-color;
    opacity: 1;
    font-family: "Mountserat";
    font-weight: 500;
}

.fc-text-inp-container input{
    border: none;
    box-shadow:  0px 0px 6px #7F8FA430;
    opacity: 1;
    padding: 10px 5px 10px 5px !important;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.fc-text-inp-container label{
    margin-top: 10px;
}


