 
.flow-root{
    position:relative;
    // height: 184px !important; 
}
.fc-activity-card{
    border-radius: 20px !important;
    box-shadow: 0px 3px 6px #89ABCE3F;
    border-radius: 20px;
    opacity: 1;
    min-height:245px !important;
}
.fc-activity-card-li{
    
}